<template>
    <div class="block ProjectBlock">
    <v-container>
      <h2 class="text-center">Project</h2>
      <v-row>
        <v-col v-for="mosque in mosques" :key="mosque.id" cols="12" md="4">
          <v-card outlined class="mx-auto">
            <v-img
              class="white--text align-end"
              height="200px"
              :src="mosque.src"
            >
              <v-card-title>{{ mosque.name }}</v-card-title>
            </v-img>
            <v-card-subtitle class="pb-0">{{ mosque.donatur }}</v-card-subtitle>
            <v-card-text class="text--primary">
              <div>{{ mosque.address }}</div>
            </v-card-text>
            <v-card-actions>
              <v-btn color="primary" text>More</v-btn>
            </v-card-actions>
          </v-card>
        </v-col>
      </v-row>
    </v-container>
  </div>
</template>

<script>
    export default {
        name: "project",
  data: () => ({
    show: false,
    mosques: [
      {
        id: 1,
        name: "Jami Al Kautsar",
        donatur: "Abu Sholeh",
        address: "CLUSTER BUKIT MAGNOLIA PERUM CITRA INDAH DESA SINGAJAYA KEC. JONGGOL KAB.BOGOR",
        src: require("../assets/project/212008.png")
      },
      {
        id: 2,
        name: "Jami Al Ikhlas",
        donatur: "Ibnu Umar",
        address: "SMA NEGERI 1 SERANG BARU PERUM KSB BLOK E  NO 9 DESA SUKARAGAM KEC. SERANG BARU KAB. BEKASI",
        src: require("../assets/project/201706.png")
      },
      {
        id: 3,
        name: "Jami An Nur",
        donatur: "Sajeeda Fadhilah",
        address: "PERUM AMBAR TELAGA 2  MEKARSARI  RANCABUNGUR- BOGOR",
        src: require("../assets/project/201897.png")
      },
      {
        id: 4,
        name: "Jami Al Barokah",
        donatur: "Naisha Al Maimun",
        address: "PERUM PURI LESTARI FASOS BLOK G/H JL.KH ASMAWI DESA SUKAJAYA KEC CIBITUNG",
        src: require("../assets/project/212005.png")
      },
      {
        id: 5,
        name: "Jami Al Ittihad",
        donatur: "Abu Amir",
        address: "SMA NEGERI 1 SERANG BARU PERUM KSB BLOK E  NO 9 DESA SUKARAGAM KEC. SERANG BARU KAB. BEKASI",
        src: require("../assets/project/201896.png")
      },
      {
        id: 6,
        name: "Jami Ar Ridwan",
        donatur: "Ibn Abdullah",
        address: "PERUM. THE PALM RESIDENCE BLOK B RT.06 RW.012 DESA SRIAMUR KEC. TAMBUN UTARA BEKASI",
        src: require("../assets/project/201703.png")
      }
    ]
  })
};
</script>