<template>
  <div class="container mu-5">
    <div class="row justify-content-center">
        <div class="col-12">
            <router-link :to="{name:'location.create'}"
                 class= "btn btn-primary btn-sm rounded shadow mb-3"
                     >add</router-link>
             </div>
             <div class="card rounded shadow">
                    <div class="card-header">
                        Location list
                    </div>
                    <div class="card-body">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>Name</th>
                                     <th>Address</th>
                                      <th>Area</th>
                                       <th>FamilyNumber</th>
                                       <th>Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>

                                    <td> Irfan</td>
                                    <td> Jl Tegal Timur raya </td>
                                    <td> Bekasi </td>
                                    <td> 23423 </td>
                                    
                                    <div class="btn-group">
                                        <router-link
                                        :to="{name: 'location.edit', params:{id}}" class="btn btn-outline-info">Edit
                                        </router-link>
                                        <button class="btn btn-sm btn-outline-danger">Delete</button>
                                    </div>
                                    </tr>
                            </tbody>
                        </table>
                        </div>


                    </div>



        </div>
    </div>
</template>

<script>
  export default {
   
  }
</script>