<template>
  <div>
  <v-container class="ma-0 pa-0" grid-list-sm>
    <v-subheader>
      All mosques
    </v-subheader>
    <v-layout wrap>
      <mosque-item-component
        v-for="mosque in mosques"
        :key="'mosque-' + mosque.id"
        :mosque="mosque">
      </mosque-item-component>
    </v-layout>

    <v-pagination
      v-model="page"
      @input="go"
      :length="lengthPage"
      :total-visible="perPage">
    </v-pagination>
  </v-container>
</div>
  
</template>

<script>
import MosqueItemComponent from '../components/MosqueItemComponent.vue'

export default {
  data: () => ({
    apiDomain: 'http://localhost:8000',
    mosques: [],
    page: 0,
    lengthPage: 0,
    perPage: 0,
  }),

  components: {
    'mosque-item-component': MosqueItemComponent
  },

  methods: {
    go() {
      const config = {
        method: 'get',
        url: this.apiDomain + '/api/mosque?page=' + this.page
      }

      this.axios(config)
        .then(response => {
          let { mosques } = response.data
          this.mosques = mosques.data
          this.page = mosques.current_page
          this.lengthPage = mosques.last_page
          this.perPage = mosques.per_page

          console.log(this.mosques)
        })
        .catch(error => {
          console.log(error)
        })
    },
  },

  created() {
    this.go()
  }
}
</script>

