<template>
<div>
    <v-card v-if="mosque.id">
      <v-img :src="mosque.photo? apiDomain + mosque.photo : '/assets/project/212008.png'" class="white--text" hight="200px">
        <v-card-title class ="fill-height align-end" v-text="mosque.name">
        </v-card-title>
      </v-img>
      
      <v-card-text>
        <v-simple-table dense>
        <tbody>
        <tr>
          <td><v-icon>mdi-format-title</v-icon> Mosque Name</td>
          <td class="blue--text">{{ mosque.name }}</td>
        </tr>
        <tr>
          <td><v-icon>mdi-gps</v-icon> address </td>
          <td>
           {{ mosque.address }}
          </td>
        </tr>
        </tbody>
        </v-simple-table>

       </v-card-text>
      </v-card>
       <v-card class="mb-2" tile="">
                 <v-row align="start">
                    <v-col class="shrink">
                         <v-img src="//placehold.it/80x120" max-width="80" class="ml-3"></v-img>
                    </v-col>
                    <v-col>
                         <v-card-title class="pa-0">Title</v-card-title>
                         <v-card-subtitle>Author</v-card-subtitle>
                     </v-col>
                 </v-row>
         </v-card> 
</div>   
</template>

<script>
  export default { 
      data: () => ({
          mosque: {
            name : "",
            id : "",
            address : "",
            photo : ""
          },
          apiDomain : 'http://localhost:8000/'
      }),
      methods: {
        go() {
            
            let { id } = this.$route.params;

            const config = {
             method : 'get',
             url : `${this.apiDomain}/api/mosque/${id}`
            }

             this.axios(config)
                .then(response => {
                    let { mosque } = response.data;
                    console.log(mosque.photo)
                    this.mosque.id = mosque.id;
                    this.mosque.name = mosque.name;
                    this.mosque.address = mosque.address;
                    this.mosque.photo = mosque.photo
                })
                .catch(error => {

                    console.log(error);
                });
        }
       },
       created() {
           this.go();

     },
};

</script>